.filter-dropdown-wrap {
	width: 100%;

	@screen md {
		max-width: 200px;
	}

	@screen lg {
		max-width: 300px;
	}
}

.filter-select {
	width: 100%;
    padding: 5px 20px;
    color: #666;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    height: 40px;
}