* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	@apply text-martin-gray text-base;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply text-martin-darkBlue;
	font-family: 'Quicksand', sans-serif;
	line-height: 1.2;
}